strokedetector/strokedetector/__pycache__/**
strokedetector/strokedetect/__pycache__/**

strokedetector/strokedetect/migrations/__pycache__/**
strokedetector/strokedetect/util/__pycache__/**

AnalysisTraining/Datasets