{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<h1>
    <FONT COLOR = white>
     About Stroke Guard
    
</h1>

<style>

        body{
            background-color: black;
            background-image: url("/static/assets/bg.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

<div> 
    <FONT COLOR = white>
         This is a web program that uses machine learning networks in order to look at a picture of the user and determine if they are at risk of getting a stroke. 
        Approximately 750,000 people in the United States get a stroke per year. The symptons could be hard to detect, so this program aims to make it easier to 
        figure it out. 
</div>

<a href="https://github.com/joelkny97/HackRU2024">Link to repo</a>


{% endblock %}  