.container {
    width: 400px; /* adjust width as needed */
    height: 800px; /* adjust height as needed */

   /* black border */
    overflow: hidden;
  }
  
  #webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video::-webkit-media-controls {
    display: none !important;
}
  
.results{
  width:35px;
  height:40px;
  border: 1px;
  border-color: black;
}
h1{
  text-align:center;
}
  
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.imgtext {
  font-size: 24px;
  color: #333;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

